<form method="post" action="{{ path('app_contable_account_delete', {'id': contable_account.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contable_account.id) }}">
    <button class="btn">Delete</button>
</form>
