{% extends 'base.html.twig' %}

{% block title %}New ContableAccount{% endblock %}

{% block body %}
    <h1>Create new ContableAccount</h1>

    {{ include('contable_account/_form.html.twig') }}

    <a href="{{ path('app_contable_account_index') }}">back to list</a>
{% endblock %}
